<h1>Archi Web - Connexion backend</h1>
<label for="login">login : </label><input [(ngModel)]="login" /><br />
<label for="password">password : </label
><input [(ngModel)]="password" type="password" /><br />
<br />
<button (click)="connexion()">Connexion</button>

<hr />
<div *ngIf="cnx">
  Bonjour {{ nom }} - {{ prenom }}

  <h2>Catalogue produits</h2>

  <div *ngIf="produits$ | async as produits">
    <div *ngFor="let p of produits">
      <div>{{ p.id }} - {{ p.nom }} - {{ p.prix }} €</div>
    </div>
  </div>
</div>


<!-- <app-recherche-produit (recherche)="produitListe.filtrerProduits($event)"></app-recherche-produit>
<div>Nbre de produits : {{ nb$ | async }}</div>

<hr />

<app-produit-liste #produitListe></app-produit-liste>

<hr /> -->