<div class="wrapper">
  <header class="header">
      <nav class="navbar">
          <div class="logo">TheGreatShopOfAllThingsYouMightNeed</div>
          <ul class="nav-links">
            <li><a routerLink="/home" routerLinkActive="active-link" class="nav-link">Home</a></li>
              <li><a routerLink="/login" routerLinkActive="active-link" class="nav-link">Login</a></li>
              <li><a routerLink="/catalog" routerLinkActive="active-link" class="nav-link">Catalog</a></li>
              <li><a routerLink="/basket" routerLinkActive="active-link" class="nav-link">Basket</a></li>
          </ul>
      </nav>
  </header>

  <main class="main-content">
      <router-outlet></router-outlet>
  </main>

<footer>
  <p>© 2024 TheGreatShopOfAllThingsYouMightNeed. All rights reserved.</p>
</footer>
