<nav>
  <a routerLink="/login">login</a>
  <a routerLink="/catalog">catalog</a>
  <a routerLink="/basket">basket</a>
</nav>

<router-outlet></router-outlet>

<h1>Archi Web - Connexion backend</h1>
<label for="login">login : </label><input [(ngModel)]="login" /><br />
<label for="password">password : </label
><input [(ngModel)]="password" type="password" /><br />
<br />
<button (click)="connexion()">Connexion</button>

<hr />
<div *ngIf="cnx">
  Bonjour {{ nom }} - {{ prenom }}
 
</div>


<!-- <app-recherche-produit (recherche)="produitListe.filtrerProduits($event)"></app-recherche-produit>
<div>Nbre de produits : {{ nb$ | async }}</div>

<hr />

<app-produit-liste #produitListe></app-produit-liste>

<hr /> -->